<div id="footer">
	<a href="http://www.petalslink.com" title="Petals Link, publisher of Petals ESB">Petals Link</a>
    <a href="http://petals.ow2.org" title="Petals community website">Petals Community</a>
    <a href="http://forum.petalslink.com/" title="Petals community forum">Forum</a>
    <a href="http://ow2.org/" title="OW2 Consortium website">OW2</a>
    <a href="{{ site.url }}legal.html" title="Legal notices">Legal</a>
    <a href="http://www.petalslink.com/en/contact" title="contact" class="last-link">Contact</a>
</div>