<div id="footer">

  <ul id="subnavlist">
    <li><a href="http://www.petalslink.com" title="Petals Link, publisher of Petals ESB">Petals Link</a></li>
    <li><a href="http://petals.ow2.org" title="Petals community website">Petals Community</a></li>
    <li><a href="http://forge.ow2.org/projects/petals/" title="Petals Forge">Forge</a></li>
    <li><a href="http://forum.petalslink.com/" title="Petals community forum">Forum</a></li>
    <li><a href="http://ow2.org/" title="OW2 Consortium website">OW2</a></li>
    <li><a href="./static/legal" title="Legal notices">Legal</a></li>
    <li><a href="./static/sitemap" title="Sitemap">Sitemap</a></li>
    <li><a href="http://www.petalslink.com/en/contact" title="contact">Contact</a></li>
  </ul>
</div>