
<div id="top">
	<a href="/index.html"><img src="/resources/images/logo_petals.png.jpeg" alt="Petals ESB" /></a>
	<br />

	<a {% if page.menu == "overview" %}class="active-menu"{% endif %} href="/overview.html">Overview</a>
	<a {% if page.menu == "download" %}class="active-menu"{% endif %} href="/download.html">Download</a>
	<a {% if page.menu == "support" %}class="active-menu"{% endif %} href="/support.html">Support</a>
	<a {% if page.menu == "community" %}class="active-menu"{% endif %} href="/community.html">Community</a>
</div>

