<div id="menus">
  <div id="banner">
	<a href="/index.html"><img src="/resources/images/logo_petals.png.jpeg" alt="Petals ESB" /></a>
  </div>

  <ul id="nav">
    <li><a href="#nav" title="An Overview of Petals ESB" class="fhidden">Overview</a>
		<ul>
			<li><a href="/html/overview.html">Introduction</a></li>
			<li><a href="/html/features.html">Features</a></li>
			<li><a href="/html/licenses.html">License</a></li>	
      	</ul>
    </li>

    <li>
    	<a href="#nav" title="Download Petals ESB and its Source Code" class="fhidden">Download</a>
    	<ul>
			<li><a href="/html/download.html">Petals ESB</a></li>
			<li><a href="/html/sources.html">Source Code</a></li>	
      	</ul>
    </li>

     <li>
    	<a href="#nav" title="Get support on Petals ESB" class="fhidden">Support</a>
    	<ul>
			<li><a href="/html/documentation.html">Documentation</a></li>
			<li><a href="https://linagora.com/open-source-support/">Enterprise Support</a></li>
      	</ul>
    </li>

    <li>
    	<a href="#nav" title="Join the Petals Community!" class="fhidden">Community</a>
    	<ul>
			<li><a href="http://jira.petalslink.com" target="_blank">Issue Tracker</a></li>
			<li><a href="/html/committers.html">Committers</a></li>
			<li><a href="/html/links.html">Links</a></li>
      	</ul>
    </li>
    
    <li>
    	<a href="https://linagora.com" title="Get support on Petals ESB">Company</a>
    </li>
  </ul>
</div>
