<div id="menus">
  <div id="banner">
  <a href="{{ site.url }}"><img src="http://files.petalslink.com/img/community/petals_community_2.0.png"></a>
  </div>
 
  <ul id="nav">
    <li><a href="{{ site.url }}overview.html" alt="Petals ESB Overview">Overview</a>
      <ul>
	<li><a href="{{ site.url }}overview.html#what-is-it">What is Petals ESB?</a></li>
	<li><a href="{{ site.url }}overview.html#features">Features</a></li>
	<li><a href="{{ site.url }}project-information.html">Project information</a></li>	
      </ul>
    </li>

    <li><a href="download.petalslink.com">Download</a></li>

    <li>
      <a href="{{ site.url }}get-help-on-petals.html">Get Help!</a>
      <ul>
	<li><a href="http://doc.petalslink.com">Documentation</a></li>
	<li><a href="http://forum.petalslink.com">Forum</a></li>
	<li><a href="./pages/trainings">Trainings</a></li>
	<li><a href="./pages/support">Support</a></li>
      </ul>
    </li>
    <li>
      <a href="./petals-development">Community</a>
      <ul>
	<li><a href="{{ site.url }}bugtracker.html">Bugtracker</a></li>
	<li><a href="{{ site.url }}sources.html">Sources</a></li>
	<li><a href="{{ site.url }}commiters.html">Commiters</a></li>
	<!-- <li><a href="./join-the-team.html">Join the team</a></li>-->
      </ul>
    </li>
    <!-- <li>      <a href="./pages/petals-licences">Licences</a>    </li>-->
    <!-- <li>      <a href="http://www.petalslink.com/en/contact">Contact</a>    </li>-->
  </ul>

</div>
<!-- v2.0 - 2012-06-25 - Modifications des menus pour prendre en compte propositions de Vincent. -->