<div id="menus">
  <div id="banner">
  <!-- <a href="./"><img src="http://petals.ow2.org/img/petals_logo.png"></a> -->
  <!-- <a href="{{ site.url }}"><img src="{{ site.url }}img/petals_logo.png"></a>-->
  <a href="{{ site.url }}"><img src="http://files.petalslink.com/img/community/petals_community_2.0.png"></a>
  <!--  <a href="{{ site.url }}"><img src="{{ site.url }}img/petals_community.png"></a>-->
  </div>
 
  <ul id="nav">
    <li><a href="{{ site.url }}/pages/petals-esb-overview" alt="Petals ESB Overview">Overview</a>
      <ul>
	<li><a href="{{ site.url }}pages/petals-esb-what-is-it">What is Petals ESB?</a></li>
	<li><a href="{{ site.url }}pages/petals-esb-features">Features</a></li>
	<li><a href="{{ site.url }}pages/petals-SOA-suite">The SOA suite</a></li>	
	<li><a href="{{ site.url }}pages/petals-history">History</a></li>
      </ul>
    </li>

    <li><a href="download.petalslink.com">Download</a></li>

    <li>
      <a href="{{ site.url }}pages/get-help-on-petals.html">Get Help!</a>
      <ul>
	<li><a href="http://doc.petalslink.com">Documentation</a></li>
	<li><a href="http://forum.petalslink.com">Forum</a></li>
	<li><a href="./pages/trainings">Trainings</a></li>
	<li><a href="./pages/support">Support</a></li>
      </ul>
    </li>
    <li>
      <a href="./petals-development">Dev Area</a>
      <ul>
	<li><a href="./pages/bugtracker.html">Bugtracker</a></li>
	<li><a href="./petals/sources.html">Sources</a></li>
	<li><a href="./pages/contributors.html">Contributors</a></li>
	<li><a href="./join-the-team.html">Join the team</a></li>
      </ul>
    </li>
    <li>
      <a href="./pages/petals-licences">Licences</a>
    </li>
    <li>
      <a href="http://www.petalslink.com/en/contact">Contact</a>
    </li>
  </ul>

</div>
