  <ul id="nav">
    <li><a href="./petals-esb-overview" alt="Petals ESB Overview">Overview</a>
      <ul>
	<li><a href="./petals-esb-what-is-it">What is Petals ESB?</a></li>
	<li><a href="./petals-esb-features">Features</a></li>
	<li><a href="./petals-SOA-suite">The SOA suite</a></li>	
	<li><a href="./petals-history">History</a></li>
      </ul>
    </li>

    <li><a href="download.petalslink.com">Download</a></li>

    <li>
      <a href="./get-help-on-petals">Get Help!</a>
      <ul>
	<li><a href="./get-help-on-petals#documentation">Documentation</a></li>
	<li><a href="./get-help-on-petals#forum">Forum</a></li>
	<li><a href="./get-help-on-petals#trainings">Trainings</a></li>
	<li><a href="./get-help-on-petals#support">Support</a></li>
      </ul>
    </li>
    <li>
      <a href="./petals-development">Dev Area</a>
      <ul>
	<li><a href="./petals-development#bugtracker">Bugtracker</a></li>
	<li><a href="./petals-development#sources">Sources</a></li>
	<li><a href="./petals-development#contributors">Contributors</a></li>
	<li><a href="./join-the-team#">Join the team</a></li>
      </ul>
    </li>
    <li>
      <a href="./petals-licences">Licences</a>
    </li>
    <li>
      <a href="./contact">Contact</a>
    </li>
  </ul>