<h2>Social Networks</h2>
<p class="sociaux">
	<a target="_blank" href="http://twitter.com/petalslink"> 
		<img width="35" height="35" alt="Petals Link on Twitter" src="images/twitter.png" />
	</a> 
	<a target="_blank" href="http://www.facebook.com/home.php?ref=logo#/pages/Petals/177279149840">
		<img width="35" height="35" alt="Petals Link on Facebook" src="images/facebook.png" /> 
	</a> 
	<a target="_blank" href="http://www.linkedin.com/groups?home=&amp;gid=106654">
		<img width="35" height="35" alt="Petals Link on LinkedIn" src="images/linkedin.png" /> 
	</a> 
	<a target="_blank" href="http://www.viadeo.com/hu03/0021vio61qp11zsi/petals-solution-open-source-pour-la-soa">
		<img width="35" height="35" alt="Petals Link on Viadeo" src="images/viadeo.png" />
	</a>
</p>
